body {
    /**background-image: url(/images/2_NewYorkSlice.gif);**/
    font-family: cursive;
    box-shadow: darkgoldenrod;
    background: rgba(231,56,39,1);
background: -moz-linear-gradient(left, rgba(231,56,39,1) 0%, rgba(239,100,81,1) 40%, rgba(241,111,92,1) 50%, rgba(244,65,39,1) 83%, rgba(246,41,12,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231,56,39,1)), color-stop(40%, rgba(239,100,81,1)), color-stop(50%, rgba(241,111,92,1)), color-stop(83%, rgba(244,65,39,1)), color-stop(100%, rgba(246,41,12,1)));
background: -webkit-linear-gradient(left, rgba(231,56,39,1) 0%, rgba(239,100,81,1) 40%, rgba(241,111,92,1) 50%, rgba(244,65,39,1) 83%, rgba(246,41,12,1) 100%);
background: -o-linear-gradient(left, rgba(231,56,39,1) 0%, rgba(239,100,81,1) 40%, rgba(241,111,92,1) 50%, rgba(244,65,39,1) 83%, rgba(246,41,12,1) 100%);
background: -ms-linear-gradient(left, rgba(231,56,39,1) 0%, rgba(239,100,81,1) 40%, rgba(241,111,92,1) 50%, rgba(244,65,39,1) 83%, rgba(246,41,12,1) 100%);
background: linear-gradient(to right, rgba(231,56,39,1) 0%, rgba(239,100,81,1) 40%, rgba(241,111,92,1) 50%, rgba(244,65,39,1) 83%, rgba(246,41,12,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#f6290c', GradientType=1 );
}



/** navbar font**/
.navbar{
    font-family: fantasy;
}


/** style image pizza crazy**/

.imagecrazy img{
    width: 60rem;    
}

/** span caroussel page photos**/


/**section avec les menus**/

