body {
    /**background-image: url(/images/2_NewYorkSlice.gif);**/
    font-family: monospace;
    box-shadow: darkgoldenrod;
    background-color: lightblue;
}



/** navbar toggle**/



/** style image pizza crazy**/

.imagecrazy img{
    width: 60rem;
    
}

/** span caroussel page photos**/

